.death-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.35);
    left: 0;
    top: 0;
    user-select: none;
    .font-title-regular;


    .content {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        .animated-container {
            animation: container-fade-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            background: @c-secondary;
            border-radius: 5px;
            box-shadow: 3px 3px 10px @c-shadow;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    h2 {
        padding: 10px 40px;
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        white-space: nowrap;
    }

    .round-stats {
        width: 100%;
        padding: 15px 0 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        
        .stat {
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 5px 25px;
            
            .icon {
                width: 40px;
                margin-right: 5px;
                img {
                    height: 40px;
                }
            }

            .value {
                flex: 1;
            }

            .new {
                background: @c-good;
                border-radius: 3px;
                min-width: 70px;
                padding: 0 8px;
                text-align: center;
                color: darken(@c-good, 35%);
                .font-title-bold;
            }
        }
    }

    .crystals {
        width: 100%;
        padding: 10px 0 0;

        .inner {
            padding: 5px 25px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                width: 50px;
                img {
                    height: 70px;
                }
            }

            .count {
                margin-left: 10px;
                text-align: right;

                .new {
                    color: @c-crystal;
                    .font-title-bold;
                }

                .value {
                    font-size: 25px;
                    .font-title-extrabold;
                    border-top: 2px solid #fac5ff;
                }
            }
        }
    }


    .level-progress {
        width: 100%;
        padding: 0 0 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .inner {
            padding: 5px 0px;
            display: flex;
            align-items: center;

            .current-level,
            .next-level {
                width: 80px;
                height: 80px;
                position: relative;

                .planet {
                    width: 80px;
                    height: 80px;
                }

                .planet-name,
                .planet-name--unlocked {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: rgba(255, 255, 255, 0.5);
                    .font-title-semibold;

                    .name {
                        display: inline-block;
                    }
                }

                &--locked {
                    .planet {
                        filter: grayscale(1) brightness(0.75);
                    }
                }

                &--unlocked {
                    animation: new-planet-bounce 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;

                    .planet {
                        animation: new-planet-unlocked 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
                    }
                    .planet-name .name {
                        animation: hide-planet-name 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
                    }
                    .planet-name--unlocked .name {
                        animation: show-planet-name 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
                    }
                }
            }

            .progress {
                flex: 1;
                margin: 0 -5px;
                z-index: -1;

                .bar {
                    height: 25px;
                    background: #363636;
                    border: 1px solid @c-gray;
                    display: flex;

                    .fill {
                        background: @c-primary;
                        height: 25px;
                    }

                    .fill--new {
                        height: 25px;
                        background: #b778bd;
                        transform-origin: left;
                        animation: fill-bar 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
                    }

                    .value {
                        width: 100%;
                        text-align: center;
                        font-size: 13px;
                        .font-title-semibold;
                        letter-spacing: 2px;
                        line-height: 25px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                    }
                }
            }
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        padding: 15px 0 0;

        button {
            width: 220px;
            padding: 12px 0;
            margin: 5px 0;
            background-color: @c-primary;
            border: none;
            color: @c-white;
            .font-title-bold;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background-color: @c-primary-light;
            }
            &:active {
                transform: scale(0.95);
            }
        }
    }

}

@keyframes pulse {
    0% {
		box-shadow: 0 0 0 0 fade(@c-primary-light, 50%);
	}
	70% {
		box-shadow: 0 0 0 10px transparent;
	}
	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}

@keyframes container-fade-in {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fill-bar {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes new-planet-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes new-planet-unlocked {
  0% {
    filter: grayscale(1) brightness(0.75);
  }
  100% {
    filter: grayscale(0) brightness(1);
  }
}

@keyframes hide-planet-name {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(20px);
      opacity: 0;
  }
}

@keyframes show-planet-name {
  0% {
      transform: translateX(-20px);
      opacity: 0;
  }
  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}

@media only screen and (max-width: 420px) {
    .death-overlay .content .animated-container {
        padding: 20px;
    }
    .death-overlay h2 {
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 350px) {
    .death-overlay .content .animated-container {
        padding: 15px;
    }
    .death-overlay h2 {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 300px) {
    .death-overlay .content .animated-container {
        padding: 10px;
    }
    .death-overlay h2 {
        padding: 10px 10px;
    }
}