.hud {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 100%;

    .level {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        font-variant: all-small-caps;
        .font-title-black;
        font-size: 45px;
        color: rgba(255,255,255,0.7);
    }

    .time {
        position: absolute;
        left: 50%;
        top: 55px;
        transform: translateX(-50%);
        font-variant: all-small-caps;
        .font-title-semibold;
        font-size: 22px;
        color: rgba(255,255,255,0.5);
    }

    .crystals {
        position: absolute;
        top: 25px;
        left: 30px;
        display: flex;
        align-items: center;
        justify-items: center;

        .crystal {
            width: 42px;
        }

        .value {
            margin-left: 15px;
            font-size: 20px;
            .font-title-semibold;
            color: @c-white;
            display: flex;
            align-items: center;
            justify-items: center;

            .new {
                color: #fac5ff;
                margin-top: 3px;
                padding-left: 8px;
                font-size: 17px;
                .font-title-medium;
            }
            .record {
                color: @c-gray;
                padding-left: 8px;
                font-size: 18px;
                .font-title-medium;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .time,
    .level {
        left: initial !important;
        right: 30px !important;
        text-align: right !important;
        transform: translate(0) !important;
    }
}