body {
    color: @c-text-base;
    background: @c-background;
    .font-default;
    font-size: 15px;
}

b {
    font-weight: normal;
    .font-bold;
}

h1 {
    font-size: 40px;
    .font-title-black;
}
h2 {
    font-size: 32px;
    .font-title-extrabold;
}
h3 {
    font-size: 25px;
    .font-title-bold;
}
h4 {
    font-size: 22px;
    .font-title-semibold;
}
h5 {
    font-size: 19px;
    .font-title-semibold;
}
h6 {
    font-size: 16px;
    .font-title-semibold;
}